<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.bea.wlevs.eclipse.tools.core.server.internal.WLEVSLaunchConfigurationDelegate">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/Lloyd/Work/OEP_HOME/ps6_home/user_projects/domains/perf_domain/defaultserver"/>
<stringAttribute key="server-id" value="Oracle Event Processing v11.1 at localhost"/>
</launchConfiguration>
